{% extends 'base.html' %}
{% load static %}
{% block title %} Hospital Management {% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-md-12 text-center">
				<h1>Welcome to Hospital Management System!</h1>
				<img src="{% static 'images/hospital.jpg' %}" alt="Hospital Image" class="img-fluid mt-4 mb-4"
				     style="max-width: 1200px;">
			
			</div>
			<!-- Department Information Boxes -->
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Emergency Care</h5>
						<p class="card-text">Our Emergency Care department is equipped to handle medical emergencies
							24/7.</p>
						<a href="emergency_care.html">Learn More</a>
					</div>
				</div>
				<div class="card mt-3">
					<div class="card-body">
						<h5 class="card-title">Inpatient Care</h5>
						<p class="card-text">For patients requiring hospitalization, our Inpatient Care department
							provides comprehensive medical services.</p>
						<a href="inpatient_care.html">Learn More</a>
					</div>
				</div>
				<div class="card mt-3">
					<div class="card-body">
						<h5 class="card-title">Outpatient Care</h5>
						<p class="card-text">Outpatient Care offers medical services to patients who do not require
							overnight stay.</p>
						<a href="outpatient_care.html">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'footer.html' %}
{% endblock %}
