{% extends 'base.html' %}
{% load static %}
{% block title %} Doctor Details {% endblock %}
{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header bg-primary text-white">
						<h5 class="mb-0">View Patient Details</h5>
					</div>
					<div class="card-body text-center"> 
						<div class="mb-3">
							{% if patient.profile_pic %}
								<img src="{{ patient.profile_pic.url }}" alt="Profile Picture"
								     class="img-fluid rounded-circle" style="max-width: 150px;">
							{% else %}
								<img src="{% static 'images/img.png' %}" alt="Default Profile Picture"
								     class="img-fluid rounded-circle" style="max-width: 150px;">
							{% endif %}
						</div>
						<p class="card-text">First Name: {{ doctor.user.first_name }}</p>
						<p class="card-text">Last Name: {{ doctor.user.last_name }}</p>
						<p class="card-text">Email: {{ doctor.user.email }}</p>
						<p class="card-text">Department: {{ doctor.department }}</p>
						<p class="card-text">Mobile: {{ doctor.mobile }}</p>
						<a href="{% url 'list-doctor' %}" class="btn btn-secondary">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}