{% extends 'base.html' %}
{% block title %} List of Departments {% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="card">
					<div class="card-header">
						<h3 class="text-center">Filters</h3>
					</div>
					<form method="get">
						<div class="card-body">
							{{ filters }}
						</div>
						<div class="card-footer text-center">
							<button type="submit" class="btn btn-outline-success">Search</button>
							<a href="{% url 'list-department' %}" class="btn btn-outline-danger">Reset</a>
						</div>
					</form>
				</div>
			</div>
			
			<div class="col-md-10">
				{% if all_departments %}
					<table class="table">
						<thead>
						<tr>
							<th>No.</th>
							<th>Name</th>
						</tr>
						</thead>
						<tbody>
						{% for department in all_departments %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ department.name }}</td>
								{#								<td>{{ department.description }}</td>#}

								<td>    <!-- Action Buttons -->
									<div class="btn-group" role="group">
										<a href="{% url 'update-department' department.id %}" class="btn btn-warning"
										   role="button">Update</a>
										<a href="{% url 'detail-department' department.id %}" class="btn btn-info"
										   role="button">Details</a>
										<a href="{% url 'delete-department' department.id %}" class="btn btn-danger"
										   role="button">Delete</a>
									</div>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>No departments found.</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
