{% extends 'base.html' %}
{% block title %}Appointment Details{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 gy-5">

                <!-- Patient and Doctor Details -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header">
                                Patient Details
                            </div>
                            <div class="card-body">
                                <p class="card-text">First Name: {{ appointment.patient.user.first_name }}</p>
                                <p class="card-text">Last Name: {{ appointment.patient.user.last_name }}</p>
                                <p class="card-text">Email: {{ appointment.patient.user.email }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header">
                                Doctor Details
                            </div>
                            <div class="card-body">
                                <p class="card-text">First Name: {{ appointment.doctor.user.first_name }}</p>
                                <p class="card-text">Last Name: {{ appointment.doctor.user.last_name }}</p>
	                            <p class="card-text">Email: {{ appointment.doctor.user.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Symptoms and Patient Description -->
                <div class="row">
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header">
                                Symptoms
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ appointment.symptoms }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header">
                                Doctor Prescription
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ appointment.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cancel Button -->
                <div class="text-center mt-4">
                    <a href="{% url 'list-appointment' %}" class="btn btn-secondary">Cancel</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
