{% extends 'base.html' %}
{% load static %}
{% block title %} List of Appointments {% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="card">
					<div class="card-header">
						<h3 class="text-center">Filters</h3>
					</div>
					<form method="get">
						<div class="card-body">
							{{ filters }}
						</div>
						<div class="card-footer text-center">
							<button type="submit" class="btn btn-outline-success">Search</button>
							<a href="{% url 'list-appointment' %}" class="btn btn-outline-danger">Reset</a>
						</div>
					</form>
				</div>
			</div>
			
			<div class="col-md-10">
				{% if all_appointments %}
					<table class="table">
						<thead>
						<tr>
							<th>No.</th>
							<th>Patient First Name</th>
							<th>Patient Symptoms</th>
							<th>Doctor First Name</th>
							<th>From</th>
							<th>To</th>
							<th>Doctor Prescription</th>
							<th>Confirmation</th>
						</tr>
						</thead>
						<tbody>
						{% for appointment in all_appointments %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ appointment.patient.user.first_name }} </td>
								<td>{{ appointment.symptoms }} </td>
								<td>{{ appointment.doctor.user.first_name }} </td>
								<td>{{ appointment.datetime_from }} </td>
								<td>{{ appointment.datetime_to }} </td>
								<td>{{ appointment.description }} </td>
								<td>{% if appointment.confirmed %}Yes{% else %}No{% endif %}</td>
								
								<td>    <!-- Action Buttons -->
									<div class="btn-group" role="group">
										<a href="{% url 'update-appointment' appointment.id %}" class="btn btn-warning"
										   role="button">Update</a>
										<a href="{% url 'detail-appointment' appointment.id %}" class="btn btn-info"
										   role="button">Details</a>
										<a href="{% url 'delete-appointment' appointment.id %}" class="btn btn-danger"
										   role="button">Delete</a>
									</div>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<p>No appointments found.</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}